<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.wearit.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="kr.stylemap.android.permission.C2D_MESSAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ItemListActivity"
            android:label="@string/title_activity_item_list"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.account.LoginActivity" />
        <activity android:name=".view.account.SignupActivity" />
        <activity android:name=".view.MoreActivity" />
        <activity android:name=".view.product.ProductActivity" />
        <activity android:name=".view.news.NewsActivity" />
        <activity android:name=".view.check.CheckActivity" />
        <activity
            android:name=".view.account.MyInfoActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.account.FindPasswordActivity" />
        <activity android:name=".view.search.SearchActivity" />
        <activity android:name=".view.search.SearchResultActivity" />
        <activity android:name=".view.CustomerServiceActivity" />
        <activity android:name=".view.SettingActivity" />
        <activity android:name=".view.CouponActivity" />
        <activity android:name=".view.check.ProductCheckActivity" />
        <activity android:name=".view.check.CartCheckActivity"></activity>
    </application>

</manifest>