<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.wearit.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="kr.wearit.android.permission.C2D_MESSAGE" />

    <permission
        android:name="kr.wearit.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="kr.wearit.android" />
            </intent-filter>
        </receiver>
        <service android:name=".GCMIntentService" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".view.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ItemListActivity"
            android:label="@string/title_activity_item_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.account.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.account.SignupActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".view.MoreActivity" />
        <activity android:name=".view.product.ProductActivity" />
        <activity android:name=".view.news.NewsActivity" />
        <activity
            android:name=".view.account.MyInfoActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.account.FindPasswordActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.search.SearchActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".view.search.SearchResultActivity" />
        <activity android:name=".view.CustomerServiceActivity" />
        <activity android:name=".view.SettingActivity" />
        <activity android:name=".view.CouponActivity" />
        <activity
            android:name=".view.check.ProductCheckActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.check.CartCheckActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".view.OrderListActivity" />
        <activity android:name=".view.OrderInfoActivity" />
        <activity android:name=".view.check.AddOptionActivity" />
        <activity android:name=".view.check.OrderCompleteActivity" />
        <activity android:name=".view.check.CardPaymentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="wearit" />
            </intent-filter>
        </activity>
        <activity android:name=".view.account.FindAddressActivity"></activity>
    </application>

</manifest>